.logo{
    height: 34px;
    object-fit: contain;
    margin-right: 32px;
}

.bckg-navbar{
    background-color: #eff2fa !important;
}

.cont-navbar{
    width: 88%;
    margin: auto;
    padding: 8px 0px;
    max-width: 1600px;
}

.navbar-nav li{
    margin: 0px 22px;
}

.navbar-nav li a{
    color: #000000;
    text-decoration: none;
    position: relative;
    font-size: 19px;
}

.navbar-nav li a:before{
    position: absolute;
    content: "";
    background-color: #516fc5;
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 2px;
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
}

.navbar-nav li a:hover{
    cursor: pointer;
}

.navbar-nav li a:visited:before{
    width: 100%;
}

.navbar-nav li a:hover:before{
    width: 100%;
}


