body {
	background: #f1f1f1;
	/*font-family: 'Open Sans', sans-serif;*/
}

.contenedor {
	/*min-width: ;*/
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin: 8% 31%;

}

.form_sesion {
	margin: 8% 31%;
	border-radius: 5px;
	padding: 45px 40px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border: 1px solid #00000014;
}

.form_sesion div {
	margin-bottom: 10px;
}

.form_sesion input{
	font-family: 'Open Sans', sans-serif;
	width: 96%;
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.form_sesion input:focus,
.form_sesion select:focus {
	outline: none;
	border: 0.1rem solid #0085FF;
}

.form_sesion .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
}


.btn_ingresar[type="submit"] {
	display: block;
	background: #0085FF;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid transparent;
	cursor: pointer;
	width: 96%;
	padding: 5px;
	border-radius: 5px;
	color: floralwhite;
	font-size: 16px;
	transition: .3s ease all;
}

.btn_ingresar[type="submit"]{
	color: #ffffff;
	text-decoration: none;
}

.btn_ingresar[type="submit"]:hover {
	background: #0051ff;
/* 	border: 1px solid #00000029; */
	color: #ffffff;
/* 	text-decoration: none;
	border: 1px solid #0051ff; */
	transition: all 0.5s ease-in-out;
}

.btn_ingresar[type="submit"]:hover a{
	color: #ffffff;
}

.adjust-style{
	margin-bottom: 22px !important;
}

.recover-password{
    text-decoration: none;
    position: relative;
    top: -4px;
}

.down{
	margin-top: 12px;
}

.down p, .down a{
}

.down a{
	padding-top: 5px;
	text-decoration: none;
}

.down p{
	color: #817e7e;
}

.down a:link{ /*Color de texto de url antes de dar click*/
    color: 0051ff;
    text-decoration: none;
}

.down a:hover{
	color: #0051ff;
	text-decoration: none
}

.down a:active{
	color: #0051ff;
	text-decoration: underline;
}
