body{
    background-color: lightgrey;
}

#kiko-slider{
 font-family: sans-serif;
 margin: auto;
 background-color: white;
 max-width: 1000px;
 width: 100%;
 padding: 10px;
 box-sizing: border-box;
 margin-top: 5%;
 
}

#kiko-slider > ul, li {
   padding: 0;
   margin: 0;
   list-style: none;
}

#kiko-slider > ul.slider{
 position: relative;
 max-width: 1000px;
 width: 100%;
 height: 450px;
}

#kiko-slider > ul.slider h1{
 position: absolute;
 background-color: rgba(255, 255, 255, 0.6);
 padding: 10px;
 left: 50%;
 top: 100px;
 transform: translate(-50%, -50%);
}

#kiko-slider > ul.slider li {
   position: absolute;
   left: 0px;
   top: 0px;
   opacity: 0;
   width: inherit;
   height: inherit;
   transition: opacity .5s;
   background:#fff;
}

#kiko-slider > ul.slider li img{
 width: 100%;
 height: 450px;
 object-fit: cover;
 border-radius: 3%;
}

#kiko-slider > ul.slider li:first-child {
   opacity: 1; /*Mostramos el primer <li>*/
}

#kiko-slider > ul.slider li:target {
   opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

#kiko-slider > .menu{
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 10px auto !important;
}

#kiko-slider > .menu li{
 text-align: center;
 justify-content: center;
 display: flex;
}

#kiko-slider > .menu li a{
   display: inline-block;
   color: transparent;
   text-decoration: none;
   background-color: transparent;
   padding: 2px;
   width: 18px;
   height: 18px;
   border-radius: 100%;
   border: 1px solid rgb(135, 151, 151, 0.5);
   margin: 0px 5px;
   transition: all 0.5s ease-in-out;
}

#kiko-slider > .menu li a:hover{
   background-color: rgb(135, 151, 151);
}